$bg-btn: linear-gradient(181deg,#f7f7f7,#d7d7d7) padding-box,linear-gradient(270deg,#f1f1f1, #d7d7d7,#f7f7f7 12%) border-box;;
$bg-system-btn: linear-gradient(180deg,#e7e7e7,#959595) padding-box,linear-gradient(180deg,#f1f1f1, #d7d7d7,#f7f7f7 12%) border-box;
$bg-active-btn: #f8bd26;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    max-width: 850px;
    height: 320px;
    background: linear-gradient(180deg,#f3f3f3,#d7d7d7);
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 30px 60px -30px rgba(0,0,0,.3);
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: $bg-btn;
    font-size: 16px;
    color: #646464;
    margin: 2px;
}

.btn:hover,
.btn:active,
.btn.active {
    background: $bg-active-btn;
    color: #ffffff;
    box-shadow: 0 0 2px 4px rgba(253, 250, 236, 0.7);
}

.btn-id13
{
    width: 100px;
    background: $bg-system-btn;
}

.btn-id14,
.btn-id27 {
    width: 90px;
    background: $bg-system-btn;
}

.btn-id41,
.btn-id53 {
    width: 126px;
    background: $bg-system-btn;
}

.btn-id40 {
    position: absolute;
    right: 22px;
    top: 66px;
    height: 113px;
    width: 54px;
    background: $bg-system-btn;
}

.btn-id26,
.btn-id39 {
    margin-right: 62px;
}

.btn-id54,
.btn-id55,
.btn-id58,
.btn-id59,
.btn-id60,
.btn-id62 {
    width: 50px;
    background: $bg-system-btn;
}

.btn-id55,
.btn-id56 {
    width: 75px;
    background: $bg-system-btn;
}

.btn-id57{
    width: 312px;
}

.btn-id52 {
    position: absolute;
    top: 251px;
    right: 78px;
    height: 23px;
    background: $bg-system-btn;
}

.btn-id61 {
    height: 23px;
    align-self: flex-end;
    margin-bottom: 10px;
    background: $bg-system-btn;
}

.btn-id14,
.btn-id27,
.btn-id41,
.btn-id52,
.btn-id53,
.btn-id54,
.btn-id55,
.btn-id56,
.btn-id58,
.btn-id59,
.btn-id60,
.btn-id61,
.btn-id62 {
  font-size: 12px;
}

.btn-led {
    background-color: #727272;
    position: absolute;
    left: 8px;
    top: 8px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.btn-id27.active .btn-led{
  background-color: greenyellow;
}


.textarea {
    max-width: 600px;
    width: 100%;
    height: 100px;
    border: 1px solid #ececec;
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: #757575;
    margin: 20px auto 50px;
    overflow: auto;
}







